<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="{{ admin_static }}css/pintuer.css">
    <link rel="stylesheet" href="{{ admin_static }}css/admin.css">
    <script src="{{ admin_static }}js/jquery.js"></script>
    <script src="{{ admin_static }}js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href=""><span class="icon-plus-square-o"></span> 添加内容</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>栏目名称</th>  
      <th>排序</th>     
      <th width="250">操作</th>
    </tr>
    {% for item in users %}
    <tr>
      <td>
          {{ loop.index }}
      </td>
      <td>{{ item[1] }}</td>
      <td>
          {% if item[2]==0 %}
          超级管理员
          {% elif item[2]==1 %}
          普通管理员
          {% endif %}

      </td>
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="#"><span class="icon-edit"></span>修改</a>
       <a class="button border-red" href="javascript:void(0)" onclick="return del(17)"><span class="icon-trash-o"></span> 删除</a>
      </div>
      </td>
    </tr>
      {% endfor %}

    
  </table>
</div>
<script>
function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}
</script>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">   
      <input type="hidden" name="id"  value="" />  
      <div class="form-group">
        <div class="label">
          <label>Username：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="username" value="" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>

        <div class="form-group">
        <div class="label">
          <label>Password：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="password" value="" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
         <div class="form-group">
        <div class="label">
          <label>again：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="password1" value="" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>auth：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="auth" value="0"  data-validate="required:,number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <div onclick="submit()" class="button bg-main icon-check-square-o" style="cursor:pointer;"> 提交</div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
    function submit(){
        let username = $("[name=username]").val();
        let password = $("[name=password]").val();
        let password1 = $("[name=password1]").val();
        let auth = $("[name=auth]").val();
        if(username =="" || password=='' || password1=="" || auth=="" || password!=password1){
            return
        }

        $.ajax({
            url:"/admin/adduser.html",
            type:"post",
            data:{'username':username,'password':password,'password1':password,'auth':auth},
            dataType:"text",
            success:function(data){   //  data  [ok|no]
                // 分类 插入 非插入
                if(data=="ok"){
                    //插入成功，把数据添加到table
                    $(`
                         <tr>
                            <td>${ $(".table tr").length }</td>
                            <td>${ username }</td>
                            <td>${ auth==0?"超级管理员":"普通管理员" }</td>
                            <td>
                                <div class="button-group">
                                    <a type="button" class="button border-main" href="#">
                                        <span class="icon-edit"></span>修改
                                    </a>
                                    <a class="button border-red" href="javascript:void(0)" onclick="return del(17)">
                                        <span class="icon-trash-o"></span> 删除
                                    </a>
                                </div>

                            </td>
                        </tr>
                    `).appendTo($(".table"))

                     $("[name=username]").val("");
                     $("[name=password]").val("");
                     $("[name=password1]").val("");
                     $("[name=auth]").val("");

                }else{
                    //提示失败
                    alert("失败")
                }
            }
        })
    }


    $("[name=username]").on("change",function(){

        let username = $(this).val();
        if(username!==""){
            $.ajax({
                url:"/admin/authusername",
                type:"post",
                data:{username:username},
                dataType:"json",
                success:function(data){
                    if(data.code=="error"){
                        alert(data.info)
                    }
                }
            })


        }
    })
</script>
</body></html>
